.about__container{
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%
}

.about__portrait{
  height: fit-content;
  max-height: 40rem;
  border: 3rem dotted var(--color-white);
  transition: var(--transition);
}

.about__portrait:hover{
  border-width: 1rem;
}

.about__cards{
  margin: 1rem 0;
  gap: 1rem;
}

.about__card-icon{
  font-size: 1.5rem;
  color: var(--color-black);
}

.card.about__card:hover .about__card-icon{
  color: var(--color-primary);
}

.card.about__card h5{
  margin: 0.5rem 0;
}

.about__right p{
  margin-top: 1.5rem;
}

.about__right .btn{
  margin-top: 3rem;
}


/* Tablet */
@media screen and (max-width: 1024px){
  .about__left{
    display: none;
  }

  .about__container{
    grid-template-columns: 1fr;
  }

  .about__right h2{
    text-align: center;
  }
}

/* Mobile */
@media screen and (max-width: 600px){
  .card:hover{
    transform: none;
  }
}