.card {
  background: var(--color-white);
  margin: 1rem 0;
  padding: 0.5rem;
  border: 5px dotted transparent;
  border-radius: var(--border-radius-1);
  transition: var(--transition);
}

.card:hover{
  background: transparent;
  border-color: var(--color-white);
  transform: translateX(-5rem);
}

.card.light{
  background-color: var(--color-light);
}

.card.light:hover{
  background: transparent;
  border-color: var(--color-light);
}


/* 반응형 */
@media screen and (max-width: 600px) {
  .card{
    padding: 0.5rem;
  }
}